<a href="https://colab.research.google.com/github/widyadaridhyp/Rakamin/blob/main/Kelompok_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kelompok A
Anggota:
1. Widyadari Dhiya Parahita

## No.1

In [ ]:
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']

jumlah_plat_genap = 0
jumlah_plat_ganjil = 0

for plat in list_plat_mobil:
    nomor_plat = ''.join(filter(str.isdigit, plat))
    nomor_plat = int(nomor_plat)

    if nomor_plat % 2 == 0:
        jumlah_plat_genap += 1
    else:
        jumlah_plat_ganjil += 1

In [ ]:
print("Jumlah plat genap:", jumlah_plat_genap)
print("Jumlah plat ganjil:", jumlah_plat_ganjil)

Jumlah plat genap: 2
Jumlah plat ganjil: 7

## No.2

In [ ]:
a, b = 2, 3

In [ ]:
fibonacci = [a, b]

In [ ]:
jumlah_angka = 10

In [ ]:
for i in range(jumlah_angka):
    a, b = b, a + b
    fibonacci.append(b)

In [ ]:
fibonacci

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## No.3

In [ ]:
list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

In [ ]:
all_combinations = []

for i in range(len(list_id_category)):
    for j in range(len(list_id_category)):
        for k in range(len(list_id_category)):
            if i != j and i != k and j != k:
                combination = sorted([list_id_category[i], list_id_category[j], list_id_category[k]])
                if combination not in all_combinations:
                    all_combinations.append(combination)

In [ ]:
print("Jumlah kemungkinan bundling yang bisa terbentuk:", len(all_combinations))

Jumlah kemungkinan bundling yang bisa terbentuk: 120

## No.4

In [ ]:
def string_processor(input_string, proses):
    if proses == 'first_char':
        return input_string[0] if input_string else None
    elif proses == 'last_char':
        return input_string[-1] if input_string else None
    elif proses == 'num_chars':
        return len(input_string)
    elif proses == 'num_vowels':
        vowels = 'aeiouAEIOU'
        return sum(1 for char in input_string if char in vowels)
    else:
        return "Proses tidak valid"

## No.5

In [ ]:
import pandas as pd

In [ ]:
rakamin_store_city_monthly=pd.read_csv('/content/drive/MyDrive/Rakamin/Week 6/Homework - Dataset/rakamin_store_city_monthly.csv')

In [ ]:
rakamin_store_city_monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 1 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   month;user_id;username;email;kota;total_visit;total_order;total_amount  126 non-null    object
dtypes: object(1)
memory usage: 1.1+ KB

In [ ]:
rakamin_store_city_monthly= rakamin_store_city_monthly['month;user_id;username;email;kota;total_visit;total_order;total_amount'].str.split(';', expand=True)

In [ ]:
rakamin_store_city_monthly= rakamin_store_city_monthly.rename(columns={
    0: 'month',
    1: 'user_id',
    2: 'username',
    3: 'email',
    4: 'kota',
    5: 'total_visit',
    6: 'total_order',
    7: 'total_amount'
})

In [ ]:
rakamin_store_city_monthly

,month,user_id,username,email,kota,total_visit,total_order,total_amount
0,2016-01,16,Kevin Ningsih,kevinningsih@roketmail.com,Jakarta Selatan,95,15,45724
1,2016-01,25,Sakti Hasaniy,saktihasaniy@outlook.com,Jakarta Pusat,97,1,26665
2,2016-01,39,Izhar Halim,izharhalim@gmail.com,Jakarta Timur,84,33,899001
3,2016-02,8,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,Jakarta Pusat,113,11,22012
4,2016-02,34,Ismail Wardhani,ismailwardhani@hotmail.com,Jakarta Selatan,25,2,55620
...,...,...,...,...,...,...,...,...
121,2020-12,75,June Andjani,juneandjani@gmail.com,Jakarta Utara,60,26,645642
122,2020-12,45,Maruto Asih,marutoasih@yahoo.com,Jakarta Utara,44,20,82843
123,2020-12,50,Rizki Faishal Apriyani,rizkifaishalapriyani@roketmail.com,Jakarta Timur,28,17,35000
124,2020-12,64,Amalia Widi Abelardo,amaliawidiabelardo@outlook.com,Depok,10,36,232972
125,2020-12,60,Putri Gasani,putrigsn@gmail.com,Bekasi,80,70,540000

In [ ]:
rakamin_store_city_monthly['tahun'] = rakamin_store_city_monthly['month'].apply(lambda x: x.split('-')[0])

In [ ]:
rakamin_store_city_monthly['is_gmail'] = rakamin_store_city_monthly['email'].apply(lambda x: True if 'gmail.com' in x else False)

In [ ]:
jumlah_gmail_2018 = rakamin_store_city_monthly[(rakamin_store_city_monthly['tahun'] == '2018') & (rakamin_store_city_monthly['is_gmail'] == True)].shape[0]

In [ ]:
jumlah_gmail_2018

3

## No.6

In [ ]:
superstore = pd.read_excel('/content/drive/MyDrive/Rakamin/Week 6/Homework - Dataset/superstore.xls')

In [ ]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [ ]:
def calculate_sales_profit(region, year=2017):
    # Ubah kolom Order Date menjadi tipe data datetime
    superstore['Order Date'] = pd.to_datetime(superstore['Order Date'])

    # Ekstrak tahun dari kolom Order Date
    superstore['Year'] = superstore['Order Date'].dt.year

    # Filter data berdasarkan tahun dan region
    filtered_data = superstore[(superstore['Region'] == region) & (superstore['Year'] == year)]

    # Agregasi data berdasarkan tahun dan region, dan hitung total sales dan profit
    aggregated_data = filtered_data.groupby(['Region', 'Year']).agg({'Sales': 'sum', 'Profit': 'sum'}).reset_index()

    # Ambil total sales dan profit dari hasil agregasi
    total_sales = aggregated_data.loc[aggregated_data['Region'] == region, 'Sales'].values[0]
    total_profit = aggregated_data.loc[aggregated_data['Region'] == region, 'Profit'].values[0]

    return total_sales, total_profit

In [ ]:
superstore.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Year'],
      dtype='object')

In [ ]:
superstore.Region.unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [ ]:
# Hitung total sales dan profit untuk South Region pada tahun 2016
sales_2016_South, profit_2016_South = calculate_sales_profit(region='South', year=2016)
print("Total sales di South Region pada tahun 2016:", sales_2016_South)
print("Total profit di South Region pada tahun 2016:", profit_2016_South)

# Hitung total sales dan profit untuk West Region pada tahun 2017 (default)
sales_2017_West, profit_2017_West = calculate_sales_profit(region='West')
print("Total sales di West Region pada tahun 2017:", sales_2017_West)
print("Total profit di West Region pada tahun 2017:", profit_2017_West)

Total sales di South Region pada tahun 2016: 93610.22350000001
Total profit di South Region pada tahun 2016: 17702.808399999998
Total sales di West Region pada tahun 2017: 250128.3655
Total profit di West Region pada tahun 2017: 43808.956099999996

## No.7

In [ ]:
superstore['Order Date'] = pd.to_datetime(superstore['Order Date'])
superstore['Year'] = superstore['Order Date'].dt.year

In [ ]:
customer_sales = superstore[superstore['Year'] == 2017].groupby('Customer ID')['Sales'].sum()

In [ ]:
sales_threshold = customer_sales.describe(percentiles=[0.33, 0.66])

In [ ]:
sales_threshold

count      693.000000
mean      1058.030671
std       1463.910713
min          1.188000
33%        304.345840
50%        604.910000
66%       1007.212960
max      14203.278000
Name: Sales, dtype: float64

In [ ]:
def categorize_segment(sales):
    if pd.isna(sales_threshold['33%']) or pd.isna(sales_threshold['66%']):
        return 'Not enough data'
    elif sales is None:
        return 'Data missing'
    elif pd.isna(sales_threshold['33%']):
        return 'Sales threshold not available'
    elif sales <= sales_threshold['33%']:
        return 'Low'
    elif sales <= sales_threshold['66%']:
        return 'Medium'
    else:
        return 'High'

In [ ]:
superstore['Segment'] = superstore.apply(lambda row: categorize_segment(customer_sales.get(row['Customer ID'])), axis=1)

In [ ]:
superstore['Segment']

0          Low
1          Low
2         High
3       Medium
4       Medium
         ...
9989    Medium
9990      High
9991      High
9992      High
9993      High
Name: Segment, Length: 9994, dtype: object

In [ ]:
try:
    segment_counts = superstore[superstore['Year'] == 2017]['Segment'].value_counts()
    print("Jumlah customer pada masing-masing segment di tahun 2017:")
    print(segment_counts)
except Exception as e:
    print("Error:", e)

Jumlah customer pada masing-masing segment di tahun 2017:
High      1682
Medium    1064
Low        566
Name: Segment, dtype: int64